'.source.js':
  'Arrow Function':
    prefix: 'af'
    body: '($1) => {\n$2\n}'
    
  'Anonymous Function':
    prefix: 'anf'
    body: """
      function ($1) {
        ${2:// function body}
      }$3
      """

  'Immdiately Invoked Functional Expression':
    prefix: 'iffy'
    body: """
      (function (${2:Function Parameters}) {
        ${3:// function body}
      })(${1:IIFE Parameters});$4
      """
